
/* Using box-sizing: border-box makes width: into total width*/
/* Western official colors: rgb(79, 38, 131) rgb(128, 127, 131) and white*/
* {
    margin: 0;
    padding:0;
  }

body {
    background-color: white;
}

    .sidebar, .content {
        height: 100vh;
        vertical-align: top;
        display: inline-block;
    }

    .content {
        background-color: lightslategray;
        color: black;
        width: 85vw;
        float: right;
        z-index: 0;
        position: fixed;
        text-align: center;
    }

    .sidebar {
        background-color:rgba(78, 38, 131, 0.7);
        text-align: center;
        width: 14vw;
        min-width:min-content;
        box-shadow: 1vw 0 1vw black;
        z-index: 1;
        position: relative;
    }

        #logo {
            width: 80%;
            border-radius: 50%;
            margin-top: 5%;
        }

        nav a {
            background-color: lavender;
            color: rgb(116, 108, 108);
            opacity: .6;
            width: 80%;
            padding: 4px;
            margin-top: 5%;
            font-family: fantasy;
            font-size: medium;
            text-decoration: none;
            border: 2px solid whitesmoke;
            border-radius: 5%;
            display: inline-block;
        } /* Cannot set height or width for <a> tags */

            nav a:hover, nav a.active {
                background-color: lavender;
                color: rgb(116, 108, 108);
                opacity: 1;
            } /* Cannot set height or width for <a> tags */

            nav a.active {
                padding: 8px;
                font-size: large;
            }

        .footer {
            background-color: rgba(188, 184, 197, 0.7);
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
        }

            .social {
                max-width: 15%;
                height: auto;
                margin-bottom: 5%;
            }