
/* Using box-sizing: border-box makes width: into total width*/
/* Western official colors: rgb(79, 38, 131) rgb(128, 127, 131) and white*/
* {
    margin: 0;
    padding:0;
  }

.content {
    display: inline-block;
    background-color: lightslategray;
    height: 100vh;
    vertical-align: top;
}

    .sidebar {
        display: inline-block;
        background-color:rgb(79, 38, 131);
        text-align: center;
        position: fixed;
        width: 15%;
        min-width:min-content;
        height: 100vh;
    }

        .navbar a {
            background-color: lavender;
            color: rgb(116, 108, 108);
            opacity: .6;
            font-family: fantasy;
            font-size: medium;
            display: inline-block;
            padding: 4px;
            border: 2px solid whitesmoke;
            border-radius: 5%;
            margin-top: 5%;
        } /* Cannot set height or width for <a> tags */

            .navbar a:hover {
                opacity: 1;
            } /* Cannot set height or width for <a> tags */

        .footer {
            background-color: rgb(128, 127, 131);
            position: fixed;
            width: 15%;
            bottom: 0;
            text-align: center;
        }

        .sidebar img {
            width: 80%;
            border-radius: 50%;
            margin-top: 10%;
        }

    .filling {
        display:inline-block;
        height: 100vh;
        margin-left: 15.5%;
        overflow: scroll;
    }

/*
.content {
    background-color:darkslategray;
    width: 200px;
    height: 200px;
    border: 3px solid pink;
} */